  <div class="col-md-6">
    <h2>Log-In</h2>

    <form class="form login-form">                                     <!--belongs to 2 classes- form and login-form-->
      
      <div class="form-group">
        <label for="userName-login"> User Name:</label>
        <input class="form-input" type="text" id="userName-login" />
      </div>
      
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>

      <div class="form-group">
        <button class="btn btn-primary" type="submit">Log in</button>
      </div>
      
      <a href="/signup">Signup instead?</a>
    </form>
  </div>


  <script src="/js/login.js"></script>